.container {
    padding: 10px;
    /* align-self: center; */
    outline-width: 2px;    
    word-wrap: break-word;
}

.port {
    background-color: #e6e6e6b8;
    border-radius: 2px;
    outline-color:  #666F76;
    outline-style: solid;
}

.box {
    margin: 0px;
}

.project {
    width: 80%;
    height: auto;
    padding: 15px;
}

.portfolio {
    text-align: center;
    padding: 10px;
}

.btn-links{
    background-color: #56876D;
    border-radius: 5px;
    color: white;
}

.btn-links:hover{
    background-color: #8DB38B;

}

