#about {
    margin: 30px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 2px;
    outline-color:  #666F76;
    outline-style: solid;
    align-self: auto;
} 
.meimg {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.meText {
    text-align: left;
    margin: 20px;
    padding: 10px;
}
#links {
    margin: 10px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
.link {
    background-color: #e6e6e6;
    border-radius: 2px;
    outline-color:  #666F76;
    outline-style: solid;
}
.container {
    padding: 20px;
    align-self: center;
    outline-width: 2px;    
}
