.bg-img{
    background-image: url(https://drive.google.com/uc?export=view&id=1dh2ID5sVyzw4Ngpe0jYWHREf3hN9yV5F);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    overflow: hidden;
}
#about {
    margin: 30px;
    padding: 10px;
    background-color: #e6e6e6b9;
    border-radius: 2px;
    outline-color:  #666F76;
    outline-style: solid;
    align-self: auto;
} 
.meimg {
    max-height: 350px;
    margin: 30px;
    padding: 10px;
}
.meText {
    text-align: left;
    margin: 20px;
    padding: 20px;
}
#box {
    text-align: center;
}
.link {
    background-color: #e6e6e6b9;
    border-radius: 2px;
    outline-color:  #666F76;
    outline-style: solid;

}
.links {
}
.container {
    padding: 20px;
    align-self: center;
    outline-width: 2px;    
}
h1 {
    text-align: center;
    font-size: large;
}
#links {
    margin: 10px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
